Repository samituga/zero2prod: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, clippy, sqlx, fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: check-vcs-permalinks
      - id: trailing-whitespace
        exclude: ^test/
      - id: mixed-line-ending
        exclude: ^test/

  - repo: local
    hooks:
      - id: sort
        name: check that cargo dependencies are sorted
        language: system
        types: [ file, toml ]
        entry: cargo sort --check
        pass_filenames: false

      - id: clippy
        name: check for warnings in code
        description: Checks code for warnings
        language: system
        types: [ file, rust ]
        entry: cargo clippy --bins --examples --all -- -D warnings
        pass_filenames: false

      - id: sqlx
        name: check if sqlx offline data us up-to-date
        language: system
        files: ^.sqlx/
        entry: cargo sqlx prepare --workspace --check
        pass_filenames: false

      - id: fmt
        name: check for errors in the format
        description: check if all files follow the rustfmt style
        language: system
        types: [ file, rust ]
        entry: cargo fmt --check
        pass_filenames: false

Isolate generic email client code from specific aws ses code
  src/bootstrap.rs
  src/domain/email.rs
  src/domain/mod.rs
  src/domain/subscriber_email.rs
  src/email/aws_email_client.rs
  src/email/email_client.rs
  src/email/mod.rs
  src/email_client.rs
  src/lib.rs
  src/routes/subscriptions.rs
  src/startup.rs
  tests/api/helpers.rs
Due: clippy, fmt

Add the email client as dependency instead of a provider
  src/bootstrap.rs
  src/email/email_client.rs
  src/main.rs
  src/routes/subscriptions.rs
  src/startup.rs
  tests/api/helpers.rs
  tests/api/subscriptions.rs
Due: clippy, fmt

Prepare to use mock server for aws email client
  .env.example
  Cargo.lock
  Cargo.toml
  src/configuration.rs
  src/email/aws_email_client.rs
  tests/api/helpers.rs
  tests/api/subscriptions.rs
Due: sort, clippy, fmt

Use aws experimental mocks
  Cargo.lock
  Cargo.toml
  tests/api/health_check.rs
  tests/api/helpers.rs
  tests/api/mod.rs
  tests/api/subscriptions.rs
  tests/main.rs
  tests/mocks.rs
Due: sort, clippy, fmt

send confirmation email link
  Cargo.lock
  Cargo.toml
  src/routes/subscriptions.rs
  tests/api/subscriptions.rs
  tests/aws_ses_rules.rs
  tests/main.rs
  tests/mocks.rs
Due: sort, clippy, fmt

send confirmation email link
  src/routes/subscriptions_confirm.rs
  tests/api/subscriptions_confirm.rs
Due: clippy, fmt

Test refactoring, add AwsRuleWrapper, WIP subscriptions_confirm.rs
  configuration/local.toml
  infra/lib/code-pipeline-stack.ts
  infra/lib/ecs-stack.ts
  infra/template/taskdef.json
  src/configuration.rs
  src/email/aws_email_client.rs
  src/email/email_client.rs
  src/routes/mod.rs
  src/routes/subscriptions.rs
  src/routes/subscriptions_confirm.rs
  src/startup.rs
  tests/api/helpers.rs
  tests/api/mod.rs
  tests/api/subscriptions.rs
  tests/api/subscriptions_confirm.rs
  tests/aws_ses_rules.rs
Due: sort, clippy, fmt

Confirm subscriber endpoint
  Cargo.lock
  Cargo.toml
  src/routes/subscriptions.rs
  src/routes/subscriptions_confirm.rs
  tests/api/subscriptions_confirm.rs
Due: sort, clippy, fmt

Fix pre commit check, run sqlx prepare
  .pre-commit-config.yaml
  .sqlx/query-51c9c995452d3359e3da7e2f2ff8a6e68690f740a36d2a32ec7c40b08931ebdb.json
  .sqlx/query-66fc3537375df38eb21398e5f2c4976fde2bdd62a13a9a5da076802d0458fa54.json
  .sqlx/query-793f0df728d217c204123f12e4eafd6439db2d49d0cb506618ae9e780c7e0558.json
  .sqlx/query-95cfd70a25f1df1acb3c6e6d02a3f22fe7fa4687be6909f111b7a1e8ce30be96.json
  .sqlx/query-9ab6536d2bf619381573b3bf13507d53b2e9cf50051e51c803e916f25b51abd2.json
  .sqlx/query-b879190d3efcc0cdca951fa5ea49a7d31534cc4dccfc94e037aa9da1997357b1.json
Due: sqlx

PR clean up
  src/configuration.rs
  src/email/aws_email_client.rs
  src/email/email_client.rs
  src/routes/subscriptions.rs
  src/routes/subscriptions_confirm.rs
  src/startup.rs
Due: clippy, fmt

New subscriber flow
  .env.example
  .pre-commit-config.yaml
  .sqlx/query-51c9c995452d3359e3da7e2f2ff8a6e68690f740a36d2a32ec7c40b08931ebdb.json
  .sqlx/query-66fc3537375df38eb21398e5f2c4976fde2bdd62a13a9a5da076802d0458fa54.json
  .sqlx/query-793f0df728d217c204123f12e4eafd6439db2d49d0cb506618ae9e780c7e0558.json
  .sqlx/query-95cfd70a25f1df1acb3c6e6d02a3f22fe7fa4687be6909f111b7a1e8ce30be96.json
  .sqlx/query-9ab6536d2bf619381573b3bf13507d53b2e9cf50051e51c803e916f25b51abd2.json
  .sqlx/query-b879190d3efcc0cdca951fa5ea49a7d31534cc4dccfc94e037aa9da1997357b1.json
  Cargo.lock
  Cargo.toml
  configuration/local.toml
  infra/lib/code-pipeline-stack.ts
  infra/lib/ecs-stack.ts
  infra/template/taskdef.json
  src/bootstrap.rs
  src/configuration.rs
  src/domain/email.rs
  src/domain/mod.rs
  src/domain/subscriber_email.rs
  src/email/aws_email_client.rs
  src/email/email_client.rs
  src/email/mod.rs
  src/environment.rs
  src/lib.rs
  src/main.rs
  src/routes/mod.rs
  src/routes/subscriptions.rs
  src/routes/subscriptions_confirm.rs
  src/startup.rs
  tests/api/health_check.rs
  tests/api/helpers.rs
  tests/api/mod.rs
  tests/api/subscriptions.rs
  tests/api/subscriptions_confirm.rs
  tests/aws_ses_rules.rs
  tests/main.rs
Due: sort, clippy, sqlx, fmt

Use transaction to insert subscriber and subscriber token
  src/routes/subscriptions.rs
Due: clippy, fmt

Improve errors
  src/email/aws_email_client.rs
  src/email/email_client.rs
  src/main.rs
  src/routes/subscriptions.rs
  tests/api/subscriptions.rs
Due: clippy, fmt

Use thiserror for errors
  Cargo.lock
  Cargo.toml
  src/routes/subscriptions.rs
Due: sort, clippy, fmt

Use anyhow to provide context to errors
  Cargo.lock
  Cargo.toml
  src/routes/subscriptions.rs
  tests/api/subscriptions.rs
Due: sort, clippy, fmt

Refactor AWS wrapper in tests
  Cargo.lock
  Cargo.toml
  src/email/aws_email_client.rs
  src/email/email_client.rs
  src/routes/subscriptions.rs
  tests/api/helpers.rs
  tests/api/subscriptions.rs
  tests/api/subscriptions_confirm.rs
  tests/aws_ses_rules.rs
Due: sort, clippy, fmt

Newsletter endpoint
  .sqlx/query-7b57e2776a245ba1602f638121550485e2219a6ccaaa62b5ec3e4683e33a3b5f.json
  Cargo.lock
  Cargo.toml
  src/domain/email.rs
  src/email/aws_email_client.rs
  src/email/email_client.rs
  src/routes/mod.rs
  src/routes/newsletters.rs
  src/routes/subscriptions.rs
  src/startup.rs
  tests/api/mod.rs
  tests/api/newsletter.rs
  tests/aws_ses_rules.rs
Due: sort, clippy, sqlx, fmt
