Repository samituga/zero2prod: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, clippy, sqlx, fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: check-vcs-permalinks
      - id: trailing-whitespace
        exclude: ^test/
      - id: mixed-line-ending
        exclude: ^test/

  - repo: local
    hooks:
      - id: sort
        name: check that cargo dependencies are sorted
        language: system
        types: [ file, toml ]
        entry: cargo sort --check
        pass_filenames: false

      - id: clippy
        name: check for warnings in code
        description: Checks code for warnings
        language: system
        types: [ file, rust ]
        entry: cargo clippy --bins --examples --all -- -D warnings
        pass_filenames: false

      - id: sqlx
        name: check if sqlx offline data us up-to-date
        language: system
        files: ^.sqlx/
        entry: cargo sqlx prepare --workspace --check
        pass_filenames: false

      - id: fmt
        name: check for errors in the format
        description: check if all files follow the rustfmt style
        language: system
        types: [ file, rust ]
        entry: cargo fmt --check
        pass_filenames: false

codepipeline main branch
  infra/config/dev.ts
Due: none

Run migration in main
  Cargo.toml
  src/main.rs
Due: sort, clippy, fmt

Docker not ignore migrations folder
  .dockerignore
Due: none

Eagerly connect to the DB
  src/main.rs
Due: clippy, fmt

Parse SubscriberName
  Cargo.lock
  Cargo.toml
  src/domain.rs
  src/lib.rs
  src/routes/subscriptions.rs
  tests/health_check.rs
Due: sort, clippy, fmt

Create domain mod
  src/domain/mod.rs
  src/domain/new_subscriber.rs
  src/domain/subscriber_name.rs
  src/routes/subscriptions.rs
Due: clippy, fmt

Subscriber email
  Cargo.lock
  Cargo.toml
  src/domain/mod.rs
  src/domain/new_subscriber.rs
  src/domain/subscriber_email.rs
  src/routes/subscriptions.rs
Due: sort, clippy, fmt

Email client
  .env
  .gitignore
  Cargo.lock
  Cargo.toml
  configuration/base.toml
  src/configuration.rs
  src/domain/subscriber_email.rs
  src/email_client.rs
  src/lib.rs
  src/main.rs
  src/startup.rs
  tests/health_check.rs
Due: sort, clippy, fmt

Replace unmantained crate dotenv for dotenvy
  Cargo.lock
  Cargo.toml
  src/configuration.rs
Due: sort, clippy, fmt

DATABASE_URL env for github workflows
  .github/workflows/code-coverage.yaml
  .github/workflows/general.yaml
Due: none

aws env dummy values for github workflows
  .github/workflows/code-coverage.yaml
  .github/workflows/general.yaml
Due: none

Email client err test
  src/email_client.rs
Due: clippy, fmt

SES timeout configuration
  configuration/base.toml
  src/configuration.rs
Due: sort, clippy, fmt

Refactor integration tests, share server startup code between prod and test
  src/configuration.rs
  src/main.rs
  src/startup.rs
  tests/api/health_check.rs
  tests/api/helpers.rs
  tests/api/main.rs
  tests/api/subscriptions.rs
  tests/health_check.rs
Due: clippy, fmt

Update dependencies
  .github/workflows/code-coverage.yaml
  .github/workflows/general.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
  infra/buildspec.yaml
  scripts/init_db.sh
  src/domain/subscriber_email.rs
Due: sort, clippy, fmt

Remove once_cell
  Cargo.lock
  Cargo.toml
  tests/api/helpers.rs
Due: sort, clippy, fmt

Don't require psql installed
  .github/workflows/code-coverage.yaml
  .github/workflows/general.yaml
  scripts/init_db.sh
Due: none

Update CI
  .github/workflows/code-coverage.yaml
  .github/workflows/general.yaml
Due: none

fix fmt
  tests/api/helpers.rs
Due: clippy, fmt

Fix missing sqlx offline query and sqlx check command
  .pre-commit-config.yaml
  .sqlx/query-ed279fc2dda0c3ede3e81a4500fcaa9da2220f8a9ad6c1debc3095deb9f84759.json
  README.md
Due: sqlx

Fix 'without db' confusion
  .github/workflows/general.yaml
  scripts/init_db.sh
  src/configuration.rs
  src/startup.rs
  tests/api/helpers.rs
Due: clippy, fmt

Fix 'without db' confusion
  .github/workflows/code-coverage.yaml
  .github/workflows/general.yaml
  Cargo.lock
  Cargo.toml
  scripts/init_db.sh
  src/configuration.rs
  src/startup.rs
  tests/api/helpers.rs
Due: sort, clippy, fmt

Use app schema instead of default public
  .idea/sqldialects.xml
  .sqlx/query-88ec237aba5edd34782fb0c8e5197ce9905a09cf0ccf0a000553dee84518cc5d.json
  .sqlx/query-8ad6c1da5f9b1708a6dd5461fd0e2a90eace325b2ffd9b0c9b9e80672512f7f1.json
  migrations/20240916184242_create_app_schema.sql
  migrations/20240916184259_create_subscriptions_table.sql
  src/routes/subscriptions.rs
  tests/api/subscriptions.rs
Due: clippy, sqlx, fmt

Use public shema, change db owner to app user
  .idea/sqldialects.xml
  .sqlx/query-793f0df728d217c204123f12e4eafd6439db2d49d0cb506618ae9e780c7e0558.json
  .sqlx/query-ed279fc2dda0c3ede3e81a4500fcaa9da2220f8a9ad6c1debc3095deb9f84759.json
  migrations/20240916184242_create_app_schema.sql
  migrations/20240916184259_create_subscriptions_table.sql
  scripts/init_db.sh
  src/routes/subscriptions.rs
  tests/api/subscriptions.rs
Due: clippy, sqlx, fmt

Update workflow to create db and change owner to app user
  .github/workflows/general.yaml
Due: none

Fix code coverage workflow
  .github/workflows/code-coverage.yaml
Due: none

Remove leftover code
  src/routes/subscriptions.rs
Due: clippy, fmt

Add status column to subscriptions table
  .idea/git_toolbox_blame.xml
  .idea/git_toolbox_prj.xml
  infra/pnpm-lock.yaml
  migrations/20240917130031_add_status_to_subscriptions.sql
  src/routes/subscriptions.rs
Due: clippy, fmt

Backfill status column and set it not null
  migrations/20240916184259_create_subscriptions_table.sql
  migrations/20240917130031_add_status_to_subscriptions.sql
  migrations/20240917131545_make_status_not_null_in_subscriptions.sql
Due: none

Create subscription tokens table
  migrations/20240917160035_create_subscription_tokens_table.sql
Due: none

WIP
  src/configuration.rs
  src/email_client.rs
  src/startup.rs
Due: clippy, fmt

Cargo format
  src/email_client.rs
  src/startup.rs
Due: clippy, fmt

ses client singleton
  src/configuration.rs
  tests/api/health_check.rs
Due: clippy, fmt

separate environment.rs file, singleton Environment
  Cargo.lock
  Cargo.toml
  src/configuration.rs
  src/environment.rs
  src/lib.rs
  src/startup.rs
  tests/api/helpers.rs
Due: sort, clippy, fmt

Refactor application setup with builder pattern to improve mocking dependencies
  src/bootstrap.rs
  src/email_client.rs
  src/lib.rs
  src/main.rs
  src/startup.rs
  tests/api/helpers.rs
Due: clippy, fmt

Refactor ses email provider, split from AwsSettings
  src/bootstrap.rs
  src/configuration.rs
  src/email_client.rs
Due: clippy, fmt

WIP send confirmation email
  Cargo.lock
  Cargo.toml
  src/email_client.rs
  src/routes/subscriptions.rs
  tests/api/subscriptions.rs
Due: sort, clippy, fmt
