Repository samituga/zero2prod: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, clippy, sqlx, fmt

sort:
  name: check that cargo dependencies are sorted
  language: system
  entry: cargo sort --check
  pass_filenames: false

clippy:
  name: check for warnings in code
  description: Checks code for warnings
  language: system
  entry: cargo clippy --bins --examples --all -- -D warnings
  pass_filenames: false

sqlx:
  name: check if sqlx offline data us up-to-date
  language: system
  entry: cargo sqlx prepare --workspace --check
  pass_filenames: false

fmt:
  name: check for errors in the format
  description: check if all files follow the rustfmt style
  language: system
  entry: cargo fmt --check
  pass_filenames: false

just to trigger build
  README.md
Due: none

Cache not working yet, update buildspec.yaml
  infra/buildspec.yaml
Due: none

Fix codebuild cache
  infra/buildspec.yaml
Due: none

Change to trigger build
  src/main.rs
Due: clippy, fmt

buildspec try cache intermediate stages
  infra/buildspec.yaml
  src/main.rs
Due: clippy, fmt

Add api_image_repo_name var, hail mary buildspec.yaml changes to cache intermediate stages
  infra/buildspec.yaml
  infra/codebuild.tf
  infra/ecr.tf
  infra/variables.tf
Due: none

Try to fix tag
  infra/buildspec.yaml
Due: none

Force build with code change
  src/main.rs
Due: clippy, fmt

export DOCKER_BUILDKIT=1
  infra/buildspec.yaml
Due: none

Remove planner and chef build cache
  infra/buildspec.yaml
Due: none

force code build
  src/main.rs
Due: clippy, fmt

force code build
  src/main.rs
  src/routes/subscriptions.rs
Due: clippy, fmt

depbuilder stage, remove deploy for now
  aws.Dockerfile
  infra/buildspec.yaml
  infra/codebuild.tf
  infra/codepipeline.tf
  infra/ecr.tf
  infra/variables.tf
Due: none

trigger build miss build cache
  src/main.rs
Due: clippy, fmt

Remove code, CACHE WORKING!!
  src/main.rs
Due: clippy, fmt

Enable deploy to ECS, remove LOCAL_CUSTOM_CACHE
  infra/buildspec.yaml
  infra/codebuild.tf
  infra/codepipeline.tf
  infra/ecr.tf
Due: none

INFRA add RDS instance of postgres:16.2, policy to delete untagged ECR images
  .github/workflows/code-coverage.yaml
  .github/workflows/general.yaml
  README.md
  infra/ecr.tf
  infra/ecs.tf
  infra/main.tf
  infra/pgdb.tf
  infra/variables.tf
  scripts/init_db.sh
Due: none

Add require_ssl for db config
  Cargo.lock
  Cargo.toml
  configuration/local.toml
  configuration/production.toml
  src/configuration.rs
  src/main.rs
  tests/health_check.rs
Due: sort, clippy, fmt

INFRA add env vars to ecs task definition
  infra/ecs.tf
  infra/outputs.tf
Due: none

Add TODOs, migrate db in main
  README.md
  src/main.rs
Due: clippy, fmt

Dockerfile use nightly compiler
  Dockerfile
  aws.Dockerfile
Due: none

Dockerfile use nightly compiler
  aws.Dockerfile
Due: none

Remove nightly compiler
  Dockerfile
  aws.Dockerfile
  src/main.rs
Due: clippy, fmt

AWS SSM
  README.md
  infra/ecs.tf
  infra/outputs.tf
  infra/ssm.tf
  infra/variables.tf
Due: none

codedeploy.tf
  infra/codedeploy.tf
  infra/codepipeline.tf
  infra/ecs.tf
  infra/lb.tf
  infra/outputs.tf
  infra/ssm.tf
Due: none

load balancer changes
  infra/codedeploy.tf
  infra/ecs.tf
  infra/lb.tf
  infra/outputs.tf
Due: none

generate appspect artifact
  infra/buildspec.yaml
  infra/codebuild.tf
  infra/outputs.tf
  scripts/generate_appspec.sh
Due: none

initial
  .idea/codeStyles/codeStyleConfig.xml
  aws_infra/.gitignore
  aws_infra/.npmignore
  aws_infra/README.md
  aws_infra/bin/aws_infra.ts
  aws_infra/cdk.json
  aws_infra/jest.config.js
  aws_infra/lib/alb-stack.ts
  aws_infra/lib/codedeploy-stack.ts
  aws_infra/lib/ecr-stack.ts
  aws_infra/lib/ecs-stack.ts
  aws_infra/lib/pipeline-stack.ts
  aws_infra/lib/rds-stack.ts
  aws_infra/lib/vpc-stack.ts
  aws_infra/lib/zero_2_prod-stack.ts
  aws_infra/package-lock.json
  aws_infra/package.json
  aws_infra/test/aws_infra.test.ts
  aws_infra/tsconfig.json
Due: none

WIP
  .idea/prettier.xml
  aws_infra/bin/aws_infra.ts
  aws_infra/buildspec.yaml
  aws_infra/lib/alb-stack.ts
  aws_infra/lib/code-deploy-stack.ts
  aws_infra/lib/code-pipeline-stack.ts
  aws_infra/lib/code-star-stack.ts
  aws_infra/lib/ecs-stack.ts
  aws_infra/lib/pipeline-stack.ts
Due: none

Use prettier for aws infra
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  aws_infra/.prettierrc
  aws_infra/README.md
  aws_infra/bin/aws_infra.ts
  aws_infra/cdk.json
  aws_infra/jest.config.js
  aws_infra/lib/alb-stack.ts
  aws_infra/lib/code-deploy-stack.ts
  aws_infra/lib/code-pipeline-stack.ts
  aws_infra/lib/code-star-stack.ts
  aws_infra/lib/ecr-stack.ts
  aws_infra/lib/ecs-stack.ts
  aws_infra/lib/rds-stack.ts
  aws_infra/lib/vpc-stack.ts
  aws_infra/package-lock.json
  aws_infra/package.json
  aws_infra/test/aws_infra.test.ts
  aws_infra/tsconfig.json
Due: none

Use import alias for aws_infra
  aws_infra/lib/alb-stack.ts
  aws_infra/lib/code-deploy-stack.ts
  aws_infra/lib/code-pipeline-stack.ts
  aws_infra/lib/code-star-stack.ts
  aws_infra/lib/ecr-stack.ts
  aws_infra/lib/ecs-stack.ts
  aws_infra/lib/rds-stack.ts
Due: none

Remove name from some resources
  aws_infra/lib/code-pipeline-stack.ts
  aws_infra/lib/ecs-stack.ts
Due: none

Destructuring props
  aws_infra/lib/alb-stack.ts
  aws_infra/lib/code-deploy-stack.ts
  aws_infra/lib/code-pipeline-stack.ts
  aws_infra/lib/ecs-stack.ts
  aws_infra/lib/rds-stack.ts
Due: none

Use configs
  aws_infra/config/dev.ts
  aws_infra/config/type.ts
  aws_infra/lib/alb-stack.ts
  aws_infra/lib/ecs-stack.ts
  aws_infra/lib/vpc-stack.ts
Due: none

Path conditions:
  sort: any of: \.toml$
  clippy: any of: \.rs$
  sqlx: any of: ^.sqlx/
  fmt: any of: \.rs$
